$salad: #d9f23f;
$salad_dark: rgb(187, 209, 52);
$white: #ffffff;
$black: rgb(46, 42, 42);
$font: rgb(32, 33, 34);
$red: rgb(227, 30, 36);

$lightgray: gray;

$left-offset-desktop-large: calc((100vw - 2078px) / 2);
$left-offset-desktop-standart: 10%;



:root {
	--white: #fefefe;
	--light-blue: #ecf6fb;
	--blue: #1dbade;
	--dark-blue: #2c3e6e;
	--yellow: #fecc00;
	--orange: #f08143;
	--black: #202122;
	--gray-50: #8b8b8b;
	--gray-65: #666;
	--photofolter: rgba(102, 102, 102, 0.5);
}


:root {
    --font-family: "TT Norms Pro", sans-serif;
    --second-family: "Roboto", sans-serif;
    --third-family: "Arkhip", sans-serif;
    --font3: "Montserrat", sans-serif;
    --font4: "Affect", sans-serif;
    --font5: "Bellota Text", sans-serif;
    --font6: "Belozersk Font", sans-serif;
    --font7: "SF Pro Display", sans-serif;
  }


:root {
	
}